a:link, a:visited {
    color: blue;
    padding: 3px 4px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: rgb(255,255,210);
}

a:active {
    background-color: rgb(255,255,255);
}

body {
	font-family:arial;
	background-color: rgb(245,245,225);
}
